*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --color-1: #6b0fd7;
  --color-2: #d8e203;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

button {
  user-select: none;
  font: inherit;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 0.5em 3em;
  border-bottom: 3px solid var(--color-2);
  background-color: var(--color-2);
  color: var(--color-1);
}

nav span {
  font-size: 1.25em;
  font-weight: 700;
}

nav img {
  width: 64px;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 10em;
  background-color: var(--color-1);
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  margin: 0;
}

main #text-part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

main #heading-part h1 {
  color: var(--color-2);
  font-size: 3.5em;
}

main #description-part p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 2em;
}

main #learn-more-button {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0.5em 2em;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
}

article {
  margin: 0 auto 2em auto;
  padding: 4em 2em 0 2em;
  max-width: 600px;
}

article h1 {
  font-size: 2.2em;
}

#reference-list li {
  overflow-wrap: break-word;
}

.ref-link {
  color: var(--color-1);
}

.big-list li {
  margin-bottom: 3em;
}

footer {
  display: flex;
  justify-content: center;
  padding: 4em 2em;
  background-color: var(--color-2);
  color: var(--color-1);
}

footer #footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

footer #footer-content h1 {
  margin: 0;
}

footer #footer-content span {
  font-style: italic;
}

a {
  color: #6b0fd7;
  text-decoration: underline;
  font-weight: bold;
}

img {
  width: 100%;
}

@media only screen and (max-width: 1250px) {
  main {
    padding: 10em;
  }

  main #text-part {
    flex-wrap: wrap;
  }

  footer #footer-content {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
  }

  footer #footer-content h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 0.75em 2em;
  }

  nav span, main #description-part p, main #learn-more-button {
    font-size: 1em;
  }

  nav img {
    width: 32px;
  }

  main {
    min-height: 70vh;
    padding: 5em 2em;
  }

  main #text-part {
    flex-direction: column;
  }

  main #heading-part h1 {
    font-size: 2em;
  }

  main #description-part button {
    width: 100%;
  }
}
